@model WebApplication3MVC.Models.Employee

<h1>Details de l'employez</h1>
<p>@Html.DisplayNameFor(m => m.nom) : @Html.DisplayFor(_ => Model.nom)</p>
<p>@Html.DisplayNameFor(m => m.prenom) : @Html.DisplayFor(_ => Model.prenom)</p>
<p>@Html.DisplayNameFor(m => m.CA) : @Html.DisplayFor(_ => Model.CA)</p>
<p>@Html.DisplayNameFor(m => m.DateEntree) : @Html.DisplayFor(_ => Model.DateEntree)</p>